@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --primary: #1E4A3B;
  --secondary: #d4c9be;
  --background: #f1efec;
  --foreground: #030303;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-inter: var(--font-inter);
  --font-inter-tight: var(--font-inter-tight);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, serif;
}

button {
  cursor: pointer;
}

.closed {
  transform: scaleY(0);
  transition: transform 500ms ease-in-out;
}